*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  line-height: 1.5;
}

body {
  background-color: #262626;
  display: flex;
  justify-content: center;
}

.icon {
  height: 1.5rem;
}

.profile-picture {
  height: 3em;
  min-width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &.emeraldo {
      background-color: #facc15;
    }

  &.unity {
    background-color: #51c4be;
  }

  &.slugga {
    background-color: #a3a3a3;
  }

  &.ghostty {
    background-color: #fda4af;
  }

  & img {
    height: 2em;
  }
}

#page-layout {
  width: 1440px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;

  & > * {
    padding: 12px 8px;
  }
}

#header {
  background-color: #ffffff;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 16px 32px;
  gap: 20px;

  & > * {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  & .search {
    gap: 16px;

    & #search-box {
      flex: 1;
      background-color: #e2e8f0;
      border: none;
      border-radius: 16px;
      padding: 0.5em 1em;

      &:focus {
        border: none;
        outline: 2px solid #1992d4;
      }
    }
  }

  & .user-profile {
    justify-content: center;
    gap: 20px;
    font-weight: bold;
  }

  & .user-greeting {
    font-weight: bold;
    line-height: 1.5em;

    & .profile-picture {
      height: 4em;
      min-width: 4em;

      & img {
        height: 3em;
      }
    }

    & .name {
      font-size: 1.7rem;
    }
  }

  & .actions {
    justify-content: flex-start;

    & button {
      width: 100px;
      height: 2rem;
      font-weight: bold;
      border: none;
      border-radius: 16px;
      color: #ffffff;
      background-color: #1992d4;

      &:hover {
        cursor: pointer;
        opacity: .8;
        background-color: #262626;
      }
    }
  }
}

#sidebar {
  background-color: #1992d4;
  font-weight: bold;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  gap: 20px;

  & img {
    filter:
      invert(100%)
      sepia(100%)
      saturate(39%)
      hue-rotate(305deg)
      brightness(108%)
      contrast(100%);
  }

  & .logo {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;

      & .icon {
        height: 3rem;
      }

      & .title {
        font-size: 2rem;
      }
  }

  & .nav,
  & .options {
    list-style-type: none;
    font-size: 1.2rem;
    padding: 20px;

    & li:not(:last-child) {
      margin-bottom: 12px;
    }

    & a {
      text-decoration: none;
      color: #ffffff;
      display: flex;
      align-items: center;
      gap: 20px;

      &:hover {
        color: #f0b429;
      }
    }
  }
}

#main {
  background-color: #e2e8f0;
  grid-column: 2 / 3;
  padding: 20px 24px 20px 16px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 24px;

  & .main-content {
    grid-column: 1 / 2;

    & .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: 200px;
      gap: 20px;

      & .card {
        background-color: #ffffff;
        border-radius: 8px;
        border-left: 8px solid #f0b429;
        padding: 20px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;

        & .actions {
          bottom: 24px;
          right: 24px;
          align-self: flex-end;
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;
          gap: 20px;
        }
      }
    }
  }

  .other-content {
    grid-column: 2 / 3;
    display: grid;
    align-content: start;
    gap: 20px;

    & .announcements {
      & .card {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        & > *:not(:last-child) {
          padding-bottom: 20px;
          border-bottom: 2px solid #d2d2d2;
        }
      }
    }

    & .trending {
      & .card {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        & .topic {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }
  }
}